@import 'https://fonts.googleapis.com/css?family=Fira+Sans';

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans',"Arial", "Helvetica", sans-serif;
    background: #f6f6f6;
    color: #284557;
}

header {
    text-align: center;
}

header a {
    padding: 0.1rem 0.5rem;
}

.styled-link {
    border-radius: 1rem;
    text-transform: uppercase;
    transition: none 200ms ease-out;
    transition-property: color, background;
    text-align: center;    
}

.styled-link:visited {
    color: #284557;
}

.styled-link:link {
    color: #284557;
}

.styled-link:hover {
    background: rgb(44,82,91);
    color: #eeeeee;
}
