html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    border: 0px;
}

.valigner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.haligner {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.alignHCenter {
    align-items: center;
}

.alignVCenter {
    justify-content: center;
}

button {
    margin: 0.25rem;
    font-family: 'Fira Sans',"Arial", "Helvetica", sans-serif;
    color: #284557;    
}

#canvas {
    background-color: white;
    border-style: solid;
    border-width: 1px;
}

