header {
    background-color: #263d36;
    background-image: url("../images/header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vw 2rem;
}

header a {
    border: 1px solid rgb(44,82,91);
}

body {
    font-size: 1.25rem;
    line-height: 1.5;
}

main {
    margin: 0 auto;
    max-width: 45rem;
    padding: 1rem 1rem;    
}

#thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vid {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#thumbnails video {
    border: 1px solid black;
}

h2 {
    margin-top: 1rem;
    padding-top: 1rem;
}
h1,
h2,
strong {
    color: #212121;
}